<h4 class="mb-4">Información empleado</h4>
<div class="row">
  <div class="col-md-5">Tipo de documento:</div>
  <div class="col-md-4">{{employeeSelect.tipo_de_documento}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Documento:</div>
  <div class="col-md-4">{{employeeSelect.documento}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Nombre:</div>
  <div class="col-md-4">{{employeeSelect.nombre}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Cargo:</div>
  <div class="col-md-4">{{employeeSelect.cargo}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Lugar de nacimiento:</div>
  <div class="col-md-4">{{employeeSelect.lugar_nacimiento}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Fecha de nacimiento:</div>
  <div class="col-md-4">{{employeeSelect.fecha_nacimiento | date:'medium'}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Salario:</div>
  <div class="col-md-4">{{employeeSelect.salario}}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">Tipo de sangre:</div>
  <div class="col-md-4">{{employeeSelect.tipo_de_Sangre}}</div>
</div>